html > operastatusbar { }

html > operastatusbar,
html > operastatusbar operastatusspan {
	width: auto;
	height: auto;
	font: status-bar !important;
	line-height: 1.5 !important;
}

html > operastatusbar {
	/*all: default !important;*/
	box-sizing: border-box !important;
	position: fixed !important;
	z-index: 2147483647 !important;
	left: 0 !important;
	bottom: 0 !important;

	margin: 0 !important;
	padding: 1px 6px !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	direction: ltr !important;

	color: #444 !important;
	background: #dfdfdf !important;
	border-width: 1px 1px 0 0 !important;
	border-style: solid !important;
	border-color: rgba(0, 0, 0, 0.05) !important;
	border-top-right-radius: 3px !important;

	transition: opacity 0.3s, max-width 0.3s !important;
}

html > operastatusbar .protocol::after {
	content: '://' !important;
}

html > operastatusbar .domain {
	display: inline !important;
	color: #000 !important;
}

html > operastatusbar.http .protocol {
	display: none !important;
}

html > operastatusbar.javascript .protocol::after,
html > operastatusbar.opera .protocol::after,
html > operastatusbar.mailto .protocol::after {
	content: ':' !important;
}