html > operastatusbar { }

html > operastatusbar,
html > operastatusbar operastatusspan {
	width: auto;
	height: auto;
	font: status-bar !important;
	line-height: 1.5 !important;
}

html > operastatusbar {
	/*all: default !important;*/
	box-sizing: border-box !important;
	position: fixed !important;
	z-index: 2147483647 !important;
	left: 5px !important;
	bottom: 5px !important;

	margin: 0 !important;
	padding: 0 5px !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	direction: ltr !important;

	color: #555 !important;
	background: #fff !important;
	border: 1px solid #767676 !important;

	box-shadow: 6px 5px 4px -3px rgba(0, 0, 0, 0.4) !important;

	transition: opacity 0.3s, max-width 0.3s !important;
}

html > operastatusbar .protocol::after {
	content: '://' !important;
}

html > operastatusbar .domain {
	display: inline !important;
	color: #000 !important;
}

html > operastatusbar.javascript .protocol::after,
html > operastatusbar.opera .protocol::after,
html > operastatusbar.mailto .protocol::after {
	content: ':' !important;
}

html > operastatusbar.title .protocol,
html > operastatusbar.alter .protocol {
    display: none !important;
}

html > operastatusbar.title::before,
html > operastatusbar.alter::before {
    content: open-quote;
}

html > operastatusbar.title::after,
html > operastatusbar.alter::after {
    content: close-quote;
}
