html > operastatusbar { }

html > operastatusbar,
html > operastatusbar operastatusspan {
	width: auto;
	height: auto;
	font: status-bar !important;
	line-height: 1.5 !important;
}

html > operastatusbar {
	/*all: default !important;*/
	box-sizing: border-box !important;
	position: fixed !important;
	z-index: 2147483647 !important;

	margin: 0 !important;
	padding: 1px 6px !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	direction: ltr !important;

	color: #444 !important;
	background: #dfdfdf !important;
	border-width: 1px 1px 0 0 !important;
	border-style: solid !important;
	border-color: rgba(0, 0, 0, 0.05) !important;

	transition: opacity 0.3s, max-width 0.3s !important;
}

html > operastatusbar .protocol {
	display: inline-block !important;
	margin: -1px 5px -1px -6px !important;
	padding: 1px 5px 1px 6px !important;

	border-right: 1px solid #aaa !important;
	background: #ccc !important;
	position: relative !important;
}

html > operastatusbar .domain {
	display: inline !important;
	color: #000 !important;
}

html > operastatusbar.http .protocol {
	display: none !important;
}

html > operastatusbar.https .protocol {
	background: #9de484 !important;
	color: #21401b !important;
	border-color: #7c9f6f !important;
}
html > operastatusbar.title .protocol,
html > operastatusbar.alter .protocol {
    display: none !important;
}

html > operastatusbar.title::before,
html > operastatusbar.alter::before {
    content: open-quote;
}

html > operastatusbar.title::after,
html > operastatusbar.alter::after {
    content: close-quote;
}

html > operastatusbar.top.left {
    top:0 !important;
    left:0 !important;
    border-bottom-right-radius: 3px !important;
}

html > operastatusbar.top.right {
    top:0 !important;
    right:0 !important;
    border-bottom-left-radius: 3px !important;
}

html > operastatusbar.bottom.left {
    bottom:0 !important;
    left:0 !important;
    border-top-right-radius: 3px !important;
}

html > operastatusbar.bottom.right {
    bottom:0 !important;
    right:0 !important;
    border-top-left-radius: 3px !important;
}
